



/* stylelint-disable */
/* stylelint-disable-line no-empty-source */
.e-assist-send::before {
  content: "\e71d";
}

.e-assistview-icon::before {
  content: "\e903";
}

.e-assist-user::before {
  content: "\e7b4";
}

.e-assist-like::before {
  content: "\e905";
}

.e-assist-dislike::before {
  content: "\e906";
}

.e-assist-copy::before {
  content: "\e77c";
}

.e-assist-edit::before {
  content: "\e730";
}

.e-assist-check::before {
  content: "\e8b1";
}

.e-assist-stop::before {
  content: "\e919";
}

.e-assist-like-filled::before {
  content: "\e917";
}

.e-assist-dislike-filled::before {
  content: "\e918";
}

.e-aiassistview {
  border: 1px solid;
  position: relative;
}
.e-aiassistview.e-assist-tab-header-disabled .e-view-header {
  display: none;
}
.e-aiassistview .e-view-header {
  height: 49px;
  border-bottom: 1px solid;
}
.e-aiassistview .e-view-header .e-toolbar-item {
  position: relative;
}
.e-aiassistview .e-view-header .e-toolbar-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 100%;
  border-radius: 4px;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header, .e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header {
  padding: 0;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn, .e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn {
  padding: 0;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon, .e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon {
  padding: 4px 4px 4px 2px;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-active .e-btn {
  cursor: pointer;
}
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-left {
  height: 48px;
}
.e-aiassistview .e-view-container,
.e-aiassistview .e-footer {
  width: max(70%, 425px);
}
.e-aiassistview .e-view-container {
  margin: auto auto 10px;
}
.e-aiassistview .e-prompt-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.e-aiassistview .e-prompt-toolbar {
  width: 100%;
}
.e-aiassistview .e-view-content {
  height: calc(100% - 49px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.e-aiassistview .e-output {
  gap: 2px;
  width: inherit;
  margin-bottom: 5px;
}
.e-aiassistview .e-prompt-toolbar .e-toolbar .e-toolbar-items:not(.e-tbar-pos):not(.e-toolbar-multirow) .e-toolbar-item:first-child {
  margin-left: 0;
}
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header {
  margin-left: 12px;
}
.e-aiassistview .e-view-header .e-toolbar.e-rtl .e-toolbar-items .e-toolbar-item.e-assist-view-header,
.e-aiassistview .e-view-header .e-toolbar.e-rtl .e-toolbar-items .e-toolbar-item.e-custom-view-header {
  margin-right: 12px;
  margin-left: 0;
}
.e-aiassistview .e-view-header .e-toolbar.e-rtl .e-toolbar-items:first-child > .e-toolbar-right .e-toolbar-item:last-child {
  margin-left: 8px;
  margin-right: 0;
}
.e-aiassistview .e-view-header .e-toolbar.e-rtl .e-toolbar-items:first-child > .e-toolbar-item:last-child:last-child {
  margin-left: 8px;
}
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-tbar-btn-text,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-tbar-btn-text {
  padding: 6px 2px;
}
.e-aiassistview .e-output-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px 0;
}
.e-aiassistview .e-prompt-icon {
  margin: 0 0 0 8px;
  min-height: 30px;
}
.e-aiassistview .e-output-icon {
  height: 30px;
  margin: 0 4px 0 8px;
}
.e-aiassistview .e-prompt-icon,
.e-aiassistview .e-output-icon {
  border-radius: 50%;
  min-width: 30px;
}
.e-aiassistview .e-loading-body,
.e-aiassistview .e-content-body,
.e-aiassistview .e-loading-footer {
  padding: 2px 0 0 6px;
}
.e-aiassistview .e-content-container {
  margin-top: 16px;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.e-aiassistview .e-prompt-text {
  white-space: pre-wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 6px 8px;
  line-height: 20px;
}
.e-aiassistview .e-content-footer,
.e-aiassistview .e-prompt-toolbar {
  opacity: 0;
}
.e-aiassistview .e-prompt-container {
  gap: 2px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 70%;
  margin-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.e-aiassistview .e-prompt-container:hover .e-assist-edit-icon {
  opacity: 1;
  cursor: pointer;
}
.e-aiassistview .e-suggestion-header {
  font-size: 14px;
  font-weight: 500;
  margin: 0 2px 8px 8px;
  text-align: right;
}
.e-aiassistview .e-suggestions {
  width: 100%;
}
.e-aiassistview .e-suggestions.e-suggestion-item-template li {
  padding: 0;
}
.e-aiassistview .e-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.e-aiassistview .e-suggestions li {
  line-height: 20px;
  font-weight: 400;
  padding: 8px 12px;
  margin: 0 0 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e-aiassistview .e-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.e-aiassistview .e-views .e-content-body {
  line-height: 25px;
  border-radius: 4px;
}
.e-aiassistview .e-views .e-content-body h1,
.e-aiassistview .e-views .e-content-body h2,
.e-aiassistview .e-views .e-content-body h3,
.e-aiassistview .e-views .e-content-body h4,
.e-aiassistview .e-views .e-content-body h5,
.e-aiassistview .e-views .e-content-body h6 {
  font-weight: 600;
}
.e-aiassistview .e-views .e-content-body h4,
.e-aiassistview .e-views .e-content-body h5 {
  line-height: 28px;
}
.e-aiassistview .e-views .e-content-body h1 {
  font-size: 32px;
  line-height: 40px;
}
.e-aiassistview .e-views .e-content-body h2 {
  font-size: 28px;
  line-height: 36px;
}
.e-aiassistview .e-views .e-content-body h3 {
  font-size: 24px;
  line-height: 32px;
}
.e-aiassistview .e-views .e-content-body h4 {
  font-size: 22px;
}
.e-aiassistview .e-views .e-content-body h5 {
  font-size: 20px;
}
.e-aiassistview .e-views .e-content-body h6 {
  font-size: 16px;
  line-height: 20px;
}
.e-aiassistview .e-views .e-content-body li {
  line-height: 24.5px;
}
.e-aiassistview .e-views .e-content-body pre {
  padding: 12px 0 12px 12px;
  white-space: pre-wrap;
  position: relative;
}
.e-aiassistview .e-views .e-content-body pre span.e-code-copy {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.e-aiassistview .e-views .e-content-body tbody,
.e-aiassistview .e-views .e-content-body td,
.e-aiassistview .e-views .e-content-body tfoot,
.e-aiassistview .e-views .e-content-body th,
.e-aiassistview .e-views .e-content-body thead,
.e-aiassistview .e-views .e-content-body tr {
  padding: 6px;
}
.e-aiassistview .e-views .e-content-body thead,
.e-aiassistview .e-views .e-content-body td {
  text-align: center;
}
.e-aiassistview .e-views .e-content-body blockquote {
  font-style: italic;
  padding-left: 7px;
}
.e-aiassistview .e-views .e-content-body img,
.e-aiassistview .e-views .e-content-body svg {
  height: inherit;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
}
.e-aiassistview .e-views .e-content-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
.e-aiassistview .e-views .e-content-body code:not(pre code) {
  border-radius: 4px;
  padding: 0 4px;
}
.e-aiassistview .e-views .e-content-body > *:first-child {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.e-aiassistview .e-views,
.e-aiassistview .e-custom-view,
.e-aiassistview .e-assistview-content-section {
  height: 100%;
  overflow: scroll;
}
.e-aiassistview .e-views::-webkit-scrollbar,
.e-aiassistview .e-custom-view::-webkit-scrollbar,
.e-aiassistview .e-assistview-content-section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.e-aiassistview .e-views::-webkit-scrollbar-thumb,
.e-aiassistview .e-custom-view::-webkit-scrollbar-thumb,
.e-aiassistview .e-assistview-content-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.e-aiassistview .e-footer {
  position: relative;
  margin: 0 auto 24px;
}
.e-aiassistview .e-footer .e-clear-icon:not(.e-clear-icon-hide) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 9px;
}
.e-aiassistview .e-footer textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.e-aiassistview .e-footer textarea::-webkit-scrollbar {
  width: 4px;
}
.e-aiassistview .e-footer:has(.e-rtl):not(.e-footer-template) .e-assist-send {
  right: unset;
  left: 20px;
}
.e-aiassistview .e-footer .e-multi-line-input {
  margin: 0 5px;
  padding-right: 35px;
}
.e-aiassistview .e-footer .e-multi-line-input.e-rtl {
  padding-left: 35px;
  padding-right: unset;
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-textarea {
  max-height: 280px;
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send {
  position: absolute;
  right: 20px;
  font-size: 14px;
  bottom: 9px;
  padding-top: 2px;
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send.enabled {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}
.e-aiassistview .e-banner-view {
  margin-left: 10px;
}
.e-aiassistview .e-header-icon,
.e-aiassistview .e-prompt-icon,
.e-aiassistview .e-output-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.e-aiassistview .content-header,
.e-aiassistview .e-content-container,
.e-aiassistview .e-output,
.e-aiassistview .e-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.e-aiassistview .e-stop-response {
  opacity: 0;
  pointer-events: none;
  cursor: not-allowed;
  gap: 9px;
  -ms-flex-item-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  border: 1px solid;
}
.e-aiassistview .e-stop-response.e-btn-active {
  height: 40px;
  margin-bottom: 16px;
  padding: 11px 16px;
  line-height: 18px;
  font-weight: 600;
  font-size: 16px;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
.e-aiassistview .e-prompt-icon,
.e-aiassistview .e-output-icon,
.e-aiassistview .e-assist-edit-icon,
.e-aiassistview .e-stop-response {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.e-aiassistview .e-prompt-icon,
.e-aiassistview .e-output-icon,
.e-aiassistview .e-assist-edit-icon,
.e-aiassistview .e-prompt-container,
.e-aiassistview .e-stop-response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.e-aiassistview .e-content-footer.e-assist-toolbar-active,
.e-aiassistview .e-output-container:hover .e-content-footer,
.e-aiassistview .e-output-container:has(:focus-visible) .e-content-footer,
.e-aiassistview .e-prompt-container:hover .e-prompt-toolbar,
.e-aiassistview .e-prompt-container:has(:focus-visible) .e-prompt-toolbar {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.e-aiassistview .e-views .e-content-body:focus-visible,
.e-aiassistview .e-views .e-content-container .e-prompt-text:focus-visible,
.e-aiassistview .e-views .e-suggestions li:focus-visible,
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send:not(.disabled):focus-visible,
.e-aiassistview .e-stop-response:focus-visible {
  outline: 1px solid;
}
.e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon, .e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon {
  padding: 4px 2px 4px 4px;
}
.e-aiassistview.e-rtl .e-suggestion-header {
  text-align: left;
  margin: 0 8px 8px 2px;
}
.e-aiassistview.e-rtl .e-suggestions li {
  margin: 0 12px 12px 0;
}
.e-aiassistview.e-rtl .e-views .e-content-body blockquote {
  padding-left: unset;
  border-left: unset;
  padding-right: 7px;
}
.e-aiassistview.e-rtl .e-views .e-content-body pre span.e-code-copy {
  right: unset;
  left: 10px;
}
.e-aiassistview.e-rtl .e-loading-body,
.e-aiassistview.e-rtl .e-content-body,
.e-aiassistview.e-rtl .e-loading-footer {
  padding: 2px 6px 0 0;
}
.e-aiassistview.e-rtl .e-prompt-icon {
  margin: 0 8px 0 0;
}
.e-aiassistview.e-rtl .e-output-icon {
  margin: 0 8px 0 4px;
}

@media (max-width: 760px) {
  .e-aiassistview .e-view-container,
  .e-aiassistview .e-footer {
    width: 100%;
  }
  .e-aiassistview .e-view-container .e-suggestions,
  .e-aiassistview .e-prompt-content {
    padding-right: 8px;
  }
  .e-aiassistview.e-rtl .e-view-container .e-suggestions,
  .e-aiassistview.e-rtl .e-prompt-content {
    padding: 0 0 0 8px;
  }
}
.e-aiassistview {
  border-color: var(--color-sf-border);
  background-color: var(--color-sf-content-bg-color);
}
.e-aiassistview .e-view-content {
  color: var(--color-sf-content-text-color);
}
.e-aiassistview .e-view-header {
  border-bottom-color: var(--color-sf-border);
}
.e-aiassistview .e-view-header .e-toolbar-item::after {
  background-color: transparent;
}
.e-aiassistview .e-view-header .e-toolbar,
.e-aiassistview .e-view-header .e-toolbar-items,
.e-aiassistview .e-view-header .e-tbar-btn {
  background: var(--color-sf-content-bg-color);
}
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-custom-view-header) .e-tbar-btn:focus,
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-assist-view-header) .e-tbar-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-custom-view-header) .e-tbar-btn:focus:not(:focus-visible) .e-icons,
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-assist-view-header) .e-tbar-btn:focus:not(:focus-visible) .e-icons {
  color: var(--color-sf-secondary-text-color-hover);
}
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-custom-view-header) .e-tbar-btn:focus-visible,
.e-aiassistview .e-view-header .e-toolbar-item:not(.e-assist-view-header) .e-tbar-btn:focus-visible {
  background: var(--color-sf-content-bg-color-alt1);
  -webkit-box-shadow: inset 0 0 0 2px var(--color-sf-primary);
          box-shadow: inset 0 0 0 2px var(--color-sf-primary);
}
.e-aiassistview .e-view-header .e-toolbar-item.e-active::after {
  background-color: var(--color-sf-primary-bg-color);
}
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-btn:active,
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-btn:hover,
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-btn:focus,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-btn:active,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-btn:hover,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-btn:focus {
  background: transparent;
  border-color: transparent;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn {
  background: transparent;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn:focus,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-aiassistview .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn:focus-visible,
.e-aiassistview .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--color-sf-content-bg-color), 0 0 0 4px var(--color-sf-primary);
          box-shadow: 0 0 0 2px var(--color-sf-content-bg-color), 0 0 0 4px var(--color-sf-primary);
}
.e-aiassistview .e-suggestion-header {
  color: var(--color-sf-content-text-color);
}
.e-aiassistview .e-suggestions li {
  color: var(--color-sf-content-text-color-alt2);
  -webkit-box-shadow: 0 1px 2px -1px rgba(var(--color-sf-black), 0.1), 0 1px 3px 0 rgba(var(--color-sf-black), 0.1);
          box-shadow: 0 1px 2px -1px rgba(var(--color-sf-black), 0.1), 0 1px 3px 0 rgba(var(--color-sf-black), 0.1);
  border: 1px solid var(--color-sf-content-bg-color);
}
.e-aiassistview .e-prompt-icon,
.e-aiassistview .e-output-icon {
  border: 1px solid var(--color-sf-content-bg-color);
  color: var(--color-sf-icon-color);
  background-color: var(--color-sf-content-bg-color-alt2);
}
.e-aiassistview .e-prompt-text {
  background: var(--color-sf-content-bg-color-alt2);
  color: var(--color-sf-content-text-color-alt2);
  border: 1px solid var(--color-sf-content-bg-color);
}
.e-aiassistview .e-views .e-content-body {
  color: var(--color-sf-content-text-color);
}
.e-aiassistview .e-views .e-content-body pre {
  background: var(--color-sf-content-bg-color-alt2);
}
.e-aiassistview .e-views .e-content-body tbody,
.e-aiassistview .e-views .e-content-body td,
.e-aiassistview .e-views .e-content-body tfoot,
.e-aiassistview .e-views .e-content-body th,
.e-aiassistview .e-views .e-content-body thead,
.e-aiassistview .e-views .e-content-body tr {
  border: 1px solid var(--color-sf-border);
}
.e-aiassistview .e-views .e-content-body blockquote {
  border-left: 4px solid var(--color-sf-content-bg-color-alt2);
}
.e-aiassistview .e-views .e-content-body img,
.e-aiassistview .e-views .e-content-body svg {
  background-color: var(--color-sf-content-bg-color-alt2);
}
.e-aiassistview .e-stop-response {
  border-color: var(--color-sf-primary-bg-color);
  color: var(--color-sf-primary-text-color);
  background-color: var(--color-sf-primary-bg-color);
  -webkit-box-shadow: 0 4px 6px -4px rgba(var(--color-sf-black), 0.1), 0 10px 15px -3px rgba(var(--color-sf-black), 0.1);
          box-shadow: 0 4px 6px -4px rgba(var(--color-sf-black), 0.1), 0 10px 15px -3px rgba(var(--color-sf-black), 0.1);
}
.e-aiassistview .e-views::-webkit-scrollbar-thumb,
.e-aiassistview .e-custom-view::-webkit-scrollbar-thumb,
.e-aiassistview .e-assistview-content-section::-webkit-scrollbar-thumb {
  background: var(--color-sf-border);
}
.e-aiassistview .e-footer textarea::-webkit-scrollbar-thumb {
  background: var(--color-sf-border);
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send {
  color: var(--color-sf-icon-color);
}
.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send.disabled {
  color: var(--color-sf-icon-color-disabled);
}
.e-aiassistview .e-view-header .e-toolbar .e-assist-view-header.e-toolbar-item .e-tbar-btn:hover:active .e-icons, .e-aiassistview .e-view-header .e-toolbar .e-assist-view-header.e-toolbar-item .e-tbar-btn:hover .e-icons, .e-aiassistview .e-view-header .e-toolbar .e-assist-view-header.e-toolbar-item .e-tbar-btn:hover .e-tbar-btn-text, .e-aiassistview .e-view-header .e-toolbar .e-assist-view-header.e-toolbar-item .e-tbar-btn:hover:active .e-tbar-btn-text,
.e-aiassistview .e-view-header .e-toolbar .e-custom-view-header.e-toolbar-item .e-tbar-btn:hover:active .e-icons,
.e-aiassistview .e-view-header .e-toolbar .e-custom-view-header.e-toolbar-item .e-tbar-btn:hover .e-icons,
.e-aiassistview .e-view-header .e-toolbar .e-custom-view-header.e-toolbar-item .e-tbar-btn:hover .e-tbar-btn-text,
.e-aiassistview .e-view-header .e-toolbar .e-custom-view-header.e-toolbar-item .e-tbar-btn:hover:active .e-tbar-btn-text {
  color: var(--color-sf-content-text-color);
}
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn:hover:active .e-icons,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn:hover .e-icons,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn:hover .e-tbar-btn-text,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn:hover:active .e-tbar-btn-text,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn .e-icons,
.e-aiassistview .e-view-header .e-toolbar .e-toolbar-item.e-active .e-tbar-btn .e-tbar-btn-text {
  color: var(--color-sf-primary-bg-color);
}
.e-aiassistview.e-rtl .e-views .e-content-body blockquote {
  border-right: 4px solid var(--color-sf-content-bg-color-alt2);
}

.e-prompt-toolbar .e-toolbar,
.e-prompt-toolbar .e-toolbar .e-toolbar-items,
.e-prompt-toolbar .e-tbar-btn:not(:hover),
.e-prompt-toolbar .e-tbar-btn:not(:active),
.e-prompt-toolbar .e-tbar-btn:not(:focus),
.e-content-footer .e-toolbar,
.e-content-footer .e-toolbar .e-toolbar-items,
.e-content-footer .e-tbar-btn:not(:hover),
.e-content-footer .e-tbar-btn:not(:active),
.e-content-footer .e-tbar-btn:not(:focus) {
  background: var(--color-sf-content-bg-color);
}
.e-prompt-toolbar .e-toolbar,
.e-content-footer .e-toolbar {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: unset;
}

.e-aiassist-view-toolbar-item .e-tbar-btn:not(:hover),
.e-aiassist-view-toolbar-item .e-tbar-btn:not(:active),
.e-aiassist-view-toolbar-item .e-tbar-btn:not(:focus) {
  background: transparent;
}

.e-bigger.e-aiassistview .e-view-header,
.e-bigger .e-aiassistview .e-view-header {
  height: 57px;
}
.e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-left,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-left {
  height: 56px;
}
.e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header, .e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header {
  padding: 0;
}
.e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header .e-tbar-btn, .e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header .e-tbar-btn,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header .e-tbar-btn,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header .e-tbar-btn {
  padding: 0;
}
.e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon, .e-bigger.e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon,
.e-bigger .e-aiassistview .e-view-header .e-toolbar .e-toolbar-items .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon {
  padding: 4px 4px 4px 2px;
}
.e-bigger.e-aiassistview .e-view-content,
.e-bigger .e-aiassistview .e-view-content {
  height: calc(100% - 57px);
}
.e-bigger.e-aiassistview .e-prompt-icon,
.e-bigger .e-aiassistview .e-prompt-icon {
  min-height: 40px;
}
.e-bigger.e-aiassistview .e-output-icon,
.e-bigger .e-aiassistview .e-output-icon {
  height: 40px;
}
.e-bigger.e-aiassistview .e-prompt-icon,
.e-bigger.e-aiassistview .e-output-icon,
.e-bigger .e-aiassistview .e-prompt-icon,
.e-bigger .e-aiassistview .e-output-icon {
  min-width: 40px;
}
.e-bigger.e-aiassistview .e-loading-body,
.e-bigger.e-aiassistview .e-content-body,
.e-bigger.e-aiassistview .e-loading-footer,
.e-bigger .e-aiassistview .e-loading-body,
.e-bigger .e-aiassistview .e-content-body,
.e-bigger .e-aiassistview .e-loading-footer {
  padding: 6px 0 0 6px;
}
.e-bigger.e-aiassistview .e-prompt-text,
.e-bigger .e-aiassistview .e-prompt-text {
  padding: 7px 12px;
  line-height: 22px;
}
.e-bigger.e-aiassistview .e-content-container,
.e-bigger .e-aiassistview .e-content-container {
  font-size: 16px;
}
.e-bigger.e-aiassistview .e-suggestion-header,
.e-bigger .e-aiassistview .e-suggestion-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.e-bigger.e-aiassistview .e-suggestions.e-suggestion-item-template ul li,
.e-bigger .e-aiassistview .e-suggestions.e-suggestion-item-template ul li {
  padding: 0;
}
.e-bigger.e-aiassistview .e-suggestions li,
.e-bigger .e-aiassistview .e-suggestions li {
  line-height: 22px;
  font-weight: 400;
  padding: 8px 12px;
  margin: 0 0 16px 16px;
}
.e-bigger.e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send,
.e-bigger .e-aiassistview .e-footer:not(.e-footer-template) .e-assist-send {
  font-size: 16px;
  bottom: 11px;
}
.e-bigger.e-aiassistview .e-footer .e-clear-icon:not(.e-clear-icon-hide),
.e-bigger .e-aiassistview .e-footer .e-clear-icon:not(.e-clear-icon-hide) {
  padding-bottom: 11px;
}
.e-bigger.e-aiassistview .e-footer .e-input-group.e-control-wrapper.e-multi-line-input .e-textarea,
.e-bigger .e-aiassistview .e-footer .e-input-group.e-control-wrapper.e-multi-line-input .e-textarea {
  min-height: 38px;
}
.e-bigger.e-aiassistview .e-stop-response.e-btn-active,
.e-bigger .e-aiassistview .e-stop-response.e-btn-active {
  height: 56px;
  margin-bottom: 20px;
  padding: 14px 22px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}
.e-bigger.e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon, .e-bigger.e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon,
.e-bigger .e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-assist-view-header .e-tbar-btn .e-btn-icon,
.e-bigger .e-aiassistview.e-rtl .e-view-header .e-toolbar-item.e-custom-view-header .e-tbar-btn .e-btn-icon {
  padding: 4px 2px 4px 4px;
}
.e-bigger.e-aiassistview.e-rtl .e-suggestions li,
.e-bigger .e-aiassistview.e-rtl .e-suggestions li {
  margin: 0 16px 16px 0;
}
.e-bigger.e-aiassistview.e-rtl .e-loading-body,
.e-bigger.e-aiassistview.e-rtl .e-content-body,
.e-bigger.e-aiassistview.e-rtl .e-loading-footer,
.e-bigger .e-aiassistview.e-rtl .e-loading-body,
.e-bigger .e-aiassistview.e-rtl .e-content-body,
.e-bigger .e-aiassistview.e-rtl .e-loading-footer {
  padding: 6px 6px 0 0;
}