



.e-icons {
  font-family: "e-icons";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.e-symbolpalette .e-clear-searchtext::before {
  content: "\e58c";
}

/* stylelint-disable-line length-zero-no-unit */
.e-icons {
  font-family: "e-icons";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.e-symbolpalette .e-clear-searchtext::before {
  content: "\e7e7";
}

.e-diagram {
  display: block;
  background-color: rgba(var(--color-sf-white));
}

.e-symbolpalette {
  display: block;
}

.e-overview {
  display: block;
}

.overview-resizer {
  fill: var(--color-sf-primary);
}

.e-content-placeholder.e-diagram.e-placeholder-diagram {
  background-size: 100% 100%;
  max-height: 500px;
  max-width: 500px;
}

.e-content-placeholder.e-symbolpalette.e-placeholder-symbolpalette {
  background-size: 100% 100%;
  max-height: 200px;
  max-width: 200px;
}

.e-diagram-endpoint-handle {
  fill: var(--color-sf-primary-text-color);
  stroke: var(--color-sf-primary);
}

.e-diagram-endpoint-handle.e-connected {
  fill: var(--color-sf-primary);
  stroke: var(--color-sf-primary-text-color);
}

.e-diagram-endpoint-handle.e-disabled,
.e-diagram-bezier-control-handle.e-disabled,
.e-diagram-resize-handle.e-disabled {
  fill: var(--color-sf-border-dark);
  opacity: 1;
  stroke: rgba(var(--color-sf-white));
}

/* stylelint-disable */
.e-diagram-bezier-handle.e-source.e-disabled {
  opacity: 1 !important;
}

.e-diagram-bezier-handle.e-target.e-disabled {
  opacity: 1 !important;
}

.e-diagram-bezier-control-handle {
  fill: var(--color-sf-primary-text-color);
  stroke: var(--color-sf-primary);
  rx: 0px;
  ry: 0px;
}

.e-diagram-ortho-segment-handle,
.e-diagram-straight-segment-handle,
.e-diagram-bezier-segment-handle {
  fill: var(--color-sf-primary-text-color);
  stroke: var(--color-sf-primary);
}

.e-symbolpalette .e-acrdn-content {
  background-color: var(--color-sf-diagram-palette-background) !important;
}

/* stylelint-enable */
.e-diagram-bezier-control-line {
  stroke: var(--color-sf-primary);
}

.e-diagram-resize-handle {
  fill: var(--color-sf-primary);
  stroke: var(--color-sf-primary-text-color);
  rx: 0;
  ry: 0;
}

.e-diagram-helper {
  stroke: var(--color-sf-primary);
}

.e-diagram-rotate-handle {
  fill: var(--color-sf-primary);
  stroke: var(--color-sf-primary);
}

.e-diagram-selector {
  stroke: var(--color-sf-primary);
}

.e-diagram-selector.e-disabled {
  opacity: 1;
  stroke: var(--color-sf-border-dark);
}

.e-diagram-selector.e-thick-border {
  stroke: var(--color-sf-primary);
  stroke-width: 2;
}

.e-diagram-selector.e-thick-border.e-diagram-lane {
  stroke: var(--color-sf-primary);
  stroke-width: 2;
}

.e-diagram-highlighter {
  stroke: var(--color-sf-primary);
  stroke-width: 2;
}

.e-diagram-selected-region {
  stroke: var(--color-sf-primary);
}

.e-diagram-pivot-line {
  stroke: var(--color-sf-primary);
}

.e-symbolpalette .e-symbol-hover:hover {
  background: var(--color-sf-diagram-palette-hover-background);
  border-radius: 4px;
}

.e-symbolpalette .e-symbol-selected {
  background: var(--color-sf-diagram-palette-selected-color);
  border-radius: 4px;
}

.e-diagram-tooltip {
  pointer-events: none;
}

.e-diagram .e-ruler {
  background: var(--color-sf-content-bg-color-alt1);
  color: var(--color-sf-content-text-color-alt2);
  font-size: 10px;
}

.e-diagram .e-ruler-overlap {
  background: var(--color-sf-content-bg-color-alt1);
}

.e-diagram .e-d-ruler-marker {
  stroke: var(--color-sf-primary);
}

.e-diagram .e-diagram-text-edit {
  background: rgba(var(--color-sf-white));
  border-color: var(--color-sf-primary);
  border-style: dashed;
  border-width: 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: rgba(var(--color-sf-black));
  min-width: 50px;
}

.e-diagram-text-edit::-moz-selection {
  background: var(--color-sf-primary);
  color: var(--color-sf-primary-text-color);
}

.e-diagram-text-edit::selection {
  background: var(--color-sf-primary);
  color: var(--color-sf-primary-text-color);
}

.e-ruler-tick-label {
  fill: var(--color-sf-content-text-color-alt2);
}

.e-ruler-tick {
  stroke: var(--color-sf-border-dark);
}

.e-menu-item e-blankicon {
  padding-left: 28px;
}

.e-diagram-selection-indicator {
  stroke: var(--color-sf-primary);
}

.e-diagram-selection-line {
  stroke: var(--color-sf-primary);
}

/* stylelint-disable */
.e-diagram-rotate {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsSAAALEgHS3X78AAAA60lEQVQ4jZ1SwQ2DMBAzlfLJI2KEjJAVukG7ARsxQkfoKHQDugHdgOoqh14oCaGWIpSTudzZRg2MdYOxrq0il2Csm411o7Eu5GinTN0D6AGMAGZVux9p1LGBrHIF0LD+4l3ql70thDABSFZYaeTJ6UqNWhL3ELhyyhUR98TcwI06Lk1aNonO1NocqGWy/6zOcGCq6OjiSCw22/wUfEzL8ND2P9duFXBmHMDvWVN7CliFkkGe69VM5RmVLDqG7ZMPOroWP5BTle5WjR6dkQayutyLqU6gsiU/ypHMiI41yf+CE01qov+R0egXAN5x6jng51I3yAAAAABJRU5ErkJggg==), auto !important;
}

.e-symbolpalette-hidden {
  display: none !important;
}

.e-symbolpalette-search-hidden {
  display: none !important;
}

.e-diagramTooltip-content {
  width: auto !important;
  height: auto !important;
}

/* stylelint-enable */