



.e-spreadsheet .e-ribbon .e-drop-icon::before {
  content: "\e729";
}
.e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul .e-menu-item .e-caret::before {
  content: "\e729";
}

.e-spreadsheet.sf-spreadsheet .e-spreadsheet-ribbon .e-btn.e-split-btn .e-clear-icon::before {
  content: "\e7cc";
}

.e-spreadsheet .e-ribbon {
  border: 1px solid var(--color-sf-border-secondary);
  position: relative;
}
.e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar {
  border-left-width: 0;
  border-right-width: 0;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header {
  height: 35px;
  min-height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
  height: 35px;
  min-height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-tab-wrap {
  height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-text-wrap {
  height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items {
  height: 35px;
  min-height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-scroll-nav {
  height: 35px;
  min-height: 35px;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-hscroll {
  display: inline-block !important; /* stylelint-disable-line declaration-no-important */
  width: calc(100% - 28px);
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-toolbar-item:nth-child(2) .e-tab-wrap {
  padding: 0;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-toolbar-item:nth-child(2) .e-text-wrap {
  vertical-align: top;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-indicator {
  z-index: 1;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-toolbar-item.e-hide {
  display: none;
}
.e-spreadsheet .e-ribbon .e-tab .e-content .e-item {
  padding: 0;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item .e-tab-text {
  text-transform: none;
}
.e-spreadsheet .e-ribbon .e-tab.e-sheet-tab .e-tab-header .e-tab-text {
  white-space: pre;
}
.e-spreadsheet .e-ribbon:not(.sf-spreadsheet .e-ribbon) .e-drop-icon {
  cursor: pointer;
  font-family: "e-icons";
  margin: 8px 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  width: 18px;
  font-size: 18px;
}
.e-spreadsheet .e-ribbon:not(.sf-spreadsheet .e-ribbon) .e-drop-icon.e-disabled {
  cursor: default;
  pointer-events: none;
}
.e-spreadsheet .e-ribbon:not(.sf-spreadsheet .e-ribbon) .e-drop-icon:focus {
  font-weight: bold;
}
.e-spreadsheet .e-ribbon.e-collapsed .e-content, .e-spreadsheet .e-ribbon.e-collapsed .e-indicator, .e-spreadsheet .e-ribbon.e-collapsed .e-tab-header .e-toolbar-item.e-active .e-text-wrap::before {
  display: none;
}
.e-spreadsheet .e-ribbon.e-collapsed .e-drop-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.e-spreadsheet .e-ribbon .e-content .e-toolbar .e-toolbar-items {
  display: inline-block;
}
.e-spreadsheet .e-ribbon .e-content .e-toolbar.e-overlay .e-toolbar-items .e-toolbar-item.e-overlay {
  opacity: 1;
}
.e-spreadsheet .e-ribbon .e-menu-wrapper {
  border-width: 0;
}
.e-spreadsheet .e-ribbon .e-menu-wrapper ul.e-menu {
  padding: 0;
}
.e-spreadsheet .e-ribbon .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon {
  height: 35px;
  line-height: 35px;
}
.e-spreadsheet .e-ribbon .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon .e-caret {
  line-height: 35px;
}

.e-spreadsheet-ribbon-fill-color .e-container,
.e-spreadsheet-ribbon-font-color .e-container {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.e-spreadsheet .e-ribbon {
  background-color: var(--color-sf-bg-secondary);
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header {
  background-color: inherit;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-tab-wrap:focus {
  background: rgba(var(--color-sf-bg-secondary), 0.12);
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-tab-wrap:focus .e-tab-icon,
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-tab-wrap:focus .e-tab-text {
  color: var(--color-sf-brand-primary);
}
.e-spreadsheet .e-ribbon .e-drop-icon {
  color: var(--color-sf-fg-secondary);
}
.e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar {
  border-bottom-color: transparent;
  border-top-color: transparent;
}
.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item.e-active {
  background: var(--color-sf-bg-secondary);
}
.e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar {
  background: var(--color-sf-bg-secondary);
}
.e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar .e-toolbar-items, .e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar .e-toolbar-item .e-btn.e-tbar-btn:not(:hover):not(:focus), .e-spreadsheet .e-ribbon .e-tab .e-content .e-toolbar .e-toolbar-item.e-overlay {
  background: transparent;
}
.e-spreadsheet .e-ribbon .e-menu-wrapper {
  background-color: transparent;
}
.e-bigger .e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu,
.e-bigger.e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu {
  padding: 0;
}
.e-bigger .e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu .e-menu-item.e-menu-caret-icon,
.e-bigger.e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu .e-menu-item.e-menu-caret-icon {
  height: 41px;
  line-height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu .e-menu-item.e-menu-caret-icon .e-caret,
.e-bigger.e-spreadsheet .e-ribbon .e-menu-wrapper.e-file-menu ul.e-menu .e-menu-item.e-menu-caret-icon .e-caret {
  line-height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-drop-icon,
.e-bigger.e-spreadsheet .e-ribbon .e-drop-icon {
  font-size: 18px;
  margin: 16px 5px;
  line-height: 8px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header,
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header {
  height: 41px;
  min-height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator),
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
  height: 41px;
  min-height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-tab-wrap,
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-tab-wrap {
  height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-text-wrap,
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) .e-text-wrap {
  height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items,
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items {
  height: 41px;
  min-height: 41px;
}
.e-bigger .e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-scroll-nav,
.e-bigger.e-spreadsheet .e-ribbon .e-tab .e-tab-header .e-toolbar-items .e-scroll-nav {
  height: 41px;
  min-height: 41px;
}