



/* stylelint-disable */
.e-btn.e-primary:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
}

.e-btn.e-success:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(23, 177, 105, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(23, 177, 105, 0.24) !important;
}

.e-btn.e-info:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
}

.e-btn.e-warning:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(247, 143, 8, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(247, 143, 8, 0.24) !important;
}

.e-btn.e-danger:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(240, 68, 55, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(240, 68, 55, 0.24) !important;
}

.e-btn.e-outline.e-info {
  background: transparent !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text) !important;
}

.e-btn.e-outline.e-info:hover {
  background: var(--color-sf-utility-info-bg-color-hover) !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text-hover) !important;
}

.e-btn.e-outline.e-info:active {
  background: var(--color-sf-utility-info-bg-color-pressed) !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text-hover) !important;
}

.e-btn.e-flat.e-info {
  color: var(--color-sf-utility-info-text) !important;
}

.e-bigger .e-btn,
.e-bigger .e-btn,
.e-bigger .e-css.e-btn,
.e-bigger.e-css.e-btn {
  font-size: 14px;
  line-height: 1.572em;
  padding: 8px 15px;
  border-radius: 8px !important;
  font-weight: 600;
}

/* stylelint-disable-line no-empty-source */
.e-dropdown-popup {
  position: absolute;
  border-radius: 8px;
  margin-top: 4px;
}
.e-dropdown-popup ul {
  border: 1px solid var(--color-sf-border-secondary);
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
          box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  min-width: 120px;
  overflow: hidden;
  padding: 4px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}
.e-dropdown-popup ul .e-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  margin: 0 6px;
  border-radius: 6px;
}
.e-dropdown-popup ul .e-item.e-url {
  padding: 0;
}

.e-split-btn-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.e-split-btn-wrapper .e-split-btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-transform: none;
  z-index: 1;
  padding-left: 12px;
  padding-right: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.e-split-btn-wrapper .e-split-btn:focus {
  outline-offset: 0;
}
.e-split-btn-wrapper .e-split-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper .e-split-btn:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
  z-index: 2;
}
.e-split-btn-wrapper .e-split-btn:active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
  z-index: 2;
}
.e-split-btn-wrapper .e-split-btn.e-top-icon-btn {
  padding-bottom: 10px;
  padding-top: 10px;
}
.e-split-btn-wrapper .e-split-btn .e-btn-icon {
  font-size: 14px;
  margin-left: 0;
  padding-right: 8px;
  width: auto;
}
.e-split-btn-wrapper .e-split-btn .e-icon-top {
  padding-bottom: 4px;
  padding-right: 0;
}
.e-split-btn-wrapper .e-split-btn.e-icon-btn {
  padding-left: 10px;
  padding-right: 10px;
}
.e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon {
  padding-right: 0;
}
.e-split-btn-wrapper .e-dropdown-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}
.e-split-btn-wrapper .e-dropdown-btn:focus, .e-split-btn-wrapper .e-dropdown-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper .e-dropdown-btn:active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
  z-index: 2;
}
.e-split-btn-wrapper .e-dropdown-btn:disabled:focus, .e-split-btn-wrapper .e-dropdown-btn:disabled:hover, .e-split-btn-wrapper .e-dropdown-btn:disabled:active {
  z-index: 0;
}
.e-split-btn-wrapper .e-dropdown-btn:focus {
  outline-offset: 0;
}
.e-split-btn-wrapper .e-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper .e-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper .e-btn:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
  z-index: 2;
}
.e-split-btn-wrapper .e-btn:active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(102, 112, 133, 0.24);
  z-index: 2;
}
.e-split-btn-wrapper .e-btn:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper .e-btn.e-inherit:focus, .e-split-btn-wrapper .e-btn.e-inherit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-split-btn-wrapper.e-rtl .e-split-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  margin-left: -1px;
  padding-left: 12px;
  padding-right: 12px;
  padding-left: 4px;
  padding-right: 10px;
}
.e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon {
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}
.e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top {
  padding-left: 0;
}
.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn {
  padding-left: 10px;
  padding-right: 10px;
}
.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon {
  padding-left: 0;
}
.e-split-btn-wrapper.e-rtl .e-dropdown-btn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  margin-left: 0;
  z-index: 1;
}
.e-split-btn-wrapper.e-vertical {
  display: inline-block;
}
.e-split-btn-wrapper.e-vertical .e-split-btn,
.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  display: block;
  width: 100%;
}
.e-split-btn-wrapper.e-vertical .e-split-btn {
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  line-height: 1;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-right: 10px;
}
.e-split-btn-wrapper.e-vertical .e-split-btn .e-icon-top {
  padding-bottom: 4px;
}
.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  line-height: 0.334em;
  margin-left: 0;
  margin-top: -1px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom {
  padding-top: 0;
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn {
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  margin-left: 0;
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-dropdown-btn {
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
}

.e-split-btn-wrapper .e-split-btn {
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper .e-split-btn:focus {
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper .e-split-btn:active {
  border-right-color: var(--color-sf-utility-secondary-bg-color-pressed);
}
.e-split-btn-wrapper .e-split-btn:disabled {
  border-right-color: var(--color-sf-bg-disabled);
}
.e-split-btn-wrapper .e-split-btn.e-inherit {
  border-color: transparent;
}
.e-split-btn-wrapper:hover :not(e-active) .e-split-btn {
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper:hover :not(e-active) .e-split-btn:disabled {
  border-right-color: var(--color-sf-border-disabled-subtle);
}
.e-split-btn-wrapper.e-rtl .e-split-btn {
  border-left-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-rtl .e-split-btn:focus {
  border-left-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-rtl .e-split-btn:active {
  border-left-color: var(--color-sf-utility-secondary-bg-color-pressed);
  border-right-color: var(--color-sf-utility-secondary-bg-color-pressed);
}
.e-split-btn-wrapper.e-rtl .e-split-btn:disabled {
  border-left-color: var(--color-sf-border-disabled-subtle);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-rtl .e-split-btn.e-inherit {
  border-color: transparent;
}
.e-split-btn-wrapper.e-rtl:hover .e-split-btn :not(e-active) {
  border-left-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-rtl:hover .e-split-btn :not(e-active):disabled {
  border-left-color: var(--color-sf-border-disabled-subtle);
}
.e-split-btn-wrapper.e-vertical .e-split-btn {
  border-bottom-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical .e-split-btn.e-inherit, .e-split-btn-wrapper.e-vertical .e-split-btn.e-inherit:focus, .e-split-btn-wrapper.e-vertical .e-split-btn.e-inherit:active, .e-split-btn-wrapper.e-vertical .e-split-btn.e-inherit:disabled {
  border-color: transparent;
}
.e-split-btn-wrapper.e-vertical .e-split-btn:focus {
  border-bottom-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical .e-split-btn:active {
  border-bottom-color: var(--color-sf-utility-secondary-bg-color-pressed);
  border-right-color: var(--color-sf-utility-secondary-bg-color-pressed);
}
.e-split-btn-wrapper.e-vertical .e-split-btn:disabled {
  border-bottom-color: var(--color-sf-border-disabled-subtle);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical:hover .e-split-btn {
  border-bottom-color: var(--color-sf-utility-secondary-border-color);
  border-right-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical:hover .e-split-btn.e-inherit, .e-split-btn-wrapper.e-vertical:hover .e-split-btn.e-inherit:disabled {
  border-color: transparent;
}
.e-split-btn-wrapper.e-vertical:hover .e-split-btn:disabled {
  border-bottom-color: var(--color-sf-border-disabled-subtle);
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn {
  border-left-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn.e-inherit, .e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn.e-inherit:focus, .e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn.e-inherit:active, .e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn.e-inherit:disabled {
  border-color: transparent;
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:focus {
  border-left-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:active {
  border-left-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:disabled {
  border-left-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical.e-rtl:hover .e-split-btn {
  border-left-color: var(--color-sf-utility-secondary-border-color);
}
.e-split-btn-wrapper.e-vertical.e-rtl:hover .e-split-btn.e-inherit {
  border-color: transparent;
}

.e-bigger .e-split-btn-wrapper .e-split-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn {
  padding-left: 16px;
  padding-right: 16px;
}
.e-bigger .e-split-btn-wrapper .e-split-btn.e-top-icon-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-top-icon-btn {
  padding-bottom: 12px;
  padding-top: 12px;
}
.e-bigger .e-split-btn-wrapper .e-split-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper .e-split-btn .e-btn-icon {
  font-size: 18px;
  margin-left: 0;
  padding-right: 10px;
  width: auto;
}
.e-bigger .e-split-btn-wrapper .e-split-btn .e-icon-top,
.e-bigger.e-split-btn-wrapper .e-split-btn .e-icon-top {
  padding-bottom: 6px;
  padding-right: 0;
}
.e-bigger .e-split-btn-wrapper .e-split-btn.e-icon-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.e-bigger .e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon {
  padding-right: 0;
}
.e-bigger .e-split-btn-wrapper .e-dropdown-btn,
.e-bigger.e-split-btn-wrapper .e-dropdown-btn {
  padding-left: 4px;
  padding-right: 4px;
  z-index: 1;
}
.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon {
  padding-left: 10px;
  padding-right: 0;
}
.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top {
  padding-left: 0;
}
.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon {
  padding-left: 0;
}
.e-bigger .e-split-btn-wrapper.e-vertical .e-split-btn,
.e-bigger.e-split-btn-wrapper.e-vertical .e-split-btn {
  padding-bottom: 12px;
  padding-right: 12px;
}
.e-bigger .e-split-btn-wrapper.e-vertical .e-dropdown-btn,
.e-bigger.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  padding-bottom: 4px;
  padding-top: 4px;
  z-index: 1;
}
.e-bigger .e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom,
.e-bigger.e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom {
  padding-top: 0;
}