



/* stylelint-disable */
/* stylelint-disable-line no-empty-source */
/* stylelint-disable property-no-vendor-prefix */
@-webkit-keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.e-chat-send::before {
  content: "\e71d";
}

.e-chat-check::before {
  content: "\e8b1";
}

.e-chat-error::before {
  content: "\e878";
}

.e-chat-seen::before {
  content: "\e91a";
}

.e-chat-scroll-down::before {
  content: "\e7fe";
}

.e-chat-ui {
  border: 1px solid;
}
.e-chat-ui .e-chat-content {
  position: relative;
  height: calc(100% - 50px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  padding-bottom: 10px;
}
.e-chat-ui .e-chat-header {
  height: 50px;
  border-bottom: 1px solid;
}
.e-chat-ui .e-chat-header .e-chat-toolbar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.e-chat-ui .e-chat-header .e-chat-toolbar.e-toolbar {
  border: none;
}
.e-chat-ui .e-header {
  height: 100%;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.e-chat-ui .e-message-wrapper {
  gap: 8px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
}
.e-chat-ui .e-message-wrapper.e-scroll-smooth {
  scroll-behavior: smooth;
}
.e-chat-ui .e-message-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.e-chat-ui .e-message-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.e-chat-ui .e-message-group {
  max-width: 75%;
  margin: 4px;
}
.e-chat-ui .e-message-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}
.e-chat-ui .e-message-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4px;
}
.e-chat-ui .e-message-header {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
.e-chat-ui .e-time {
  font-size: 10px;
  white-space: nowrap;
}
.e-chat-ui .e-text {
  white-space: pre-wrap;
  padding: 7px 8px;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
.e-chat-ui .e-right,
.e-chat-ui .e-right .e-text,
.e-chat-ui .e-right .e-time {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.e-chat-ui .e-left {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}
.e-chat-ui .e-left:not(.e-message-item-template) {
  padding-left: 40px;
}
.e-chat-ui .e-message-icon {
  position: absolute;
  top: 20px;
  left: 0;
}
.e-chat-ui .e-footer {
  position: relative;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.e-chat-ui .e-footer .e-clear-icon:not(.e-clear-icon-hide) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 6px;
}
.e-chat-ui .e-footer textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.e-chat-ui .e-footer textarea::-webkit-scrollbar {
  width: 4px;
}
.e-chat-ui .e-footer .hide-scrollbar textarea {
  scrollbar-width: none;
}
.e-chat-ui .e-footer:has(.e-rtl):not(.e-footer-template) .e-chat-send {
  right: unset;
  left: 20px;
}
.e-chat-ui .e-footer .e-multi-line-input {
  margin: 0 5px;
  padding-right: 35px;
}
.e-chat-ui .e-footer .e-multi-line-input.e-rtl {
  padding-left: 35px;
  padding-right: unset;
}
.e-chat-ui .e-footer .e-multi-line-input.e-rtl.e-input-group.e-control-wrapper .e-textarea {
  padding: 4px 12px 4px 8px;
}
.e-chat-ui .e-footer .e-input-group.e-multi-line-input {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.e-chat-ui .e-footer .e-input-group.e-multi-line-input .e-textarea {
  padding: 4px 8px 4px 12px;
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send {
  position: absolute;
  right: 15px;
  font-size: 16px;
  bottom: 7px;
  padding-top: 2px;
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send.enabled {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send:not(.disabled):focus-visible {
  outline: 1px solid;
}
.e-chat-ui .e-chat-content,
.e-chat-ui .e-message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.e-chat-ui .e-message-icon {
  height: 32px;
  width: 32px;
  font-size: 14px;
}
.e-chat-ui .e-message-icon,
.e-chat-ui .e-header-icon,
.e-chat-ui .e-user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.e-chat-ui .e-status-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.e-chat-ui .e-status-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}
.e-chat-ui .e-right .e-time,
.e-chat-ui .e-status-text {
  margin-right: 18px;
}
.e-chat-ui .e-status-text {
  font-size: 12px;
}
.e-chat-ui .e-status-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 16px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.e-chat-ui .e-timebreak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 8px;
  position: relative;
}
.e-chat-ui .e-timebreak::before, .e-chat-ui .e-timebreak::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
}
.e-chat-ui .e-timebreak::before {
  margin-right: 12px;
}
.e-chat-ui .e-timebreak::after {
  margin-left: 12px;
}
.e-chat-ui .e-timestamp {
  font-size: 11px;
  padding: 5px 8px;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid;
  display: inline-block;
}
.e-chat-ui .e-typing-indicator {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.e-chat-ui .e-user-icon {
  margin-right: -16px;
  height: 24px;
  width: 24px;
  font-size: 10px;
}
.e-chat-ui .e-user-text {
  margin-left: 20px;
  font-size: 12px;
}
.e-chat-ui .e-indicator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  height: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.e-chat-ui .e-indicator {
  border-radius: 9999px;
  height: 0.3rem;
  width: 0.3rem;
}
.e-chat-ui .e-indicator:nth-child(1) {
  -webkit-animation-delay: 0.3333s;
          animation-delay: 0.3333s;
}
.e-chat-ui .e-indicator:nth-child(2) {
  -webkit-animation-delay: 0.6666s;
          animation-delay: 0.6666s;
}
.e-chat-ui .e-indicator:nth-child(3) {
  -webkit-animation-delay: 0.9999s;
          animation-delay: 0.9999s;
}
.e-chat-ui .e-header-icon {
  width: 32px;
  height: 32px;
}
.e-chat-ui .e-typing-suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.e-chat-ui .e-suggestions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
.e-chat-ui .e-suggestions.e-suggestion-item-template li {
  padding: 0;
}
.e-chat-ui .e-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1px;
}
.e-chat-ui .e-suggestions li {
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  padding: 5px 8px;
  margin: 8px 4px 0;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e-chat-ui .e-spinner-pane.e-spin-show {
  height: 35px;
}
.e-chat-ui.e-rtl .e-text {
  text-align: right;
}
.e-chat-ui.e-rtl .e-left:not(.e-message-item-template) {
  padding-right: 40px;
  padding-left: unset;
}
.e-chat-ui.e-rtl .e-message-icon {
  left: unset;
  right: 0;
}
.e-chat-ui.e-rtl .e-typing-indicator {
  margin-right: 5px;
}
.e-chat-ui.e-rtl .e-user-text {
  margin-right: 20px;
}
.e-chat-ui.e-rtl .e-user-icon {
  margin-left: -16px;
  margin-right: unset;
}
.e-chat-ui.e-rtl .e-typing-indicator,
.e-chat-ui.e-rtl .e-user-text,
.e-chat-ui.e-rtl .e-header {
  margin-left: unset;
}
.e-chat-ui.e-rtl .e-header {
  margin-right: 16px;
}
.e-chat-ui.e-rtl .e-suggestions ul {
  margin-right: unset;
  margin-left: 1px;
}
.e-chat-ui.e-rtl .e-right .e-time,
.e-chat-ui.e-rtl .e-status-text {
  margin-right: unset;
  margin-left: 18px;
}
.e-chat-ui .e-fab.e-btn.e-fab-bottom {
  bottom: 8px;
}
.e-chat-ui .e-arrowdown-hide,
.e-chat-ui .e-hide-suggestions {
  display: none;
}
.e-chat-ui .e-arrowdown-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.e-chat-ui .e-show-suggestions {
  display: block;
}
.e-chat-ui .e-suggestions li:focus-visible {
  outline: 1px solid;
}
.e-chat-ui .e-chat-header .e-toolbar-item.e-overlay {
  opacity: 0.5;
}
.e-chat-ui .e-empty-chat-template {
  margin: auto;
}

.e-chat-ui {
  border-color: rgba(var(--color-sf-outline-variant));
  background: rgba(var(--color-sf-surface));
}
.e-chat-ui .e-chat-content {
  color: rgba(var(--color-sf-on-surface));
}
.e-chat-ui .e-right .e-text {
  background: rgba(var(--color-sf-primary-container));
  color: rgba(var(--color-sf-on-surface));
}
.e-chat-ui .e-left .e-text {
  color: rgba(var(--color-sf-on-surface));
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.05)), to(rgba(var(--color-sf-primary), 0.05))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
}
.e-chat-ui .e-left .e-text:active, .e-chat-ui .e-left .e-text:focus {
  color: rgba(var(--color-sf-on-surface));
  background: rgba(var(--color-sf-on-surface), 0.08);
}
.e-chat-ui .e-left .e-text:hover {
  color: rgba(var(--color-sf-on-surface));
  background: rgba(var(--color-sf-on-surface), 0.05);
}
.e-chat-ui .e-message-wrapper::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.14)), to(rgba(var(--color-sf-primary), 0.14))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.14), rgba(var(--color-sf-primary), 0.14)), rgba(var(--color-sf-surface));
}
.e-chat-ui .e-message-wrapper .e-message-header {
  color: rgba(var(--color-sf-primary));
}
.e-chat-ui .e-message-wrapper .e-time {
  color: rgba(var(--color-sf-on-surface));
}
.e-chat-ui .e-chat-header {
  border-bottom-color: rgba(var(--color-sf-outline-variant));
  background: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-on-primary));
}
.e-chat-ui .e-chat-header .e-toolbar,
.e-chat-ui .e-chat-header .e-toolbar-items,
.e-chat-ui .e-chat-header .e-tbar-btn {
  background: rgba(var(--color-sf-primary));
}
.e-chat-ui .e-chat-header .e-toolbar .e-tbar-btn-text,
.e-chat-ui .e-chat-header .e-toolbar .e-btn-icon,
.e-chat-ui .e-chat-header .e-toolbar-items .e-tbar-btn-text,
.e-chat-ui .e-chat-header .e-toolbar-items .e-btn-icon,
.e-chat-ui .e-chat-header .e-tbar-btn .e-tbar-btn-text,
.e-chat-ui .e-chat-header .e-tbar-btn .e-btn-icon {
  color: rgba(var(--color-sf-on-primary));
}
.e-chat-ui .e-timebreak::before, .e-chat-ui .e-timebreak::after {
  background: rgba(var(--color-sf-outline-variant));
}
.e-chat-ui .e-timestamp {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.08)), to(rgba(var(--color-sf-primary), 0.08))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.08), rgba(var(--color-sf-primary), 0.08)), rgba(var(--color-sf-surface));
  color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  border-color: transparent;
}
.e-chat-ui .e-chat-error {
  color: rgba(var(--color-sf-error));
}
.e-chat-ui .e-chat-seen {
  color: rgba(var(--color-sf-primary));
}
.e-chat-ui .e-footer textarea::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.14)), to(rgba(var(--color-sf-primary), 0.14))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.14), rgba(var(--color-sf-primary), 0.14)), rgba(var(--color-sf-surface));
}
.e-chat-ui .e-footer .e-input-group.e-multi-line-input {
  border: 1px solid rgba(var(--color-sf-outline-variant)) !important; /* stylelint-disable-line declaration-no-important */
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send {
  color: rgba(var(--color-sf-on-surface-variant));
}
.e-chat-ui .e-footer:not(.e-footer-template) .e-chat-send.disabled {
  color: rgba(var(--color-sf-on-surface-variant), 0.38);
}
.e-chat-ui .e-suggestions li {
  color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
}
.e-chat-ui .e-header-icon,
.e-chat-ui .e-message-icon,
.e-chat-ui .e-user-icon {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.e-chat-ui .e-message-icon,
.e-chat-ui .e-user-icon {
  color: rgba(var(--color-sf-on-surface-variant));
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.08)), to(rgba(var(--color-sf-primary), 0.08))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.08), rgba(var(--color-sf-primary), 0.08)), rgba(var(--color-sf-surface));
}
.e-chat-ui .e-indicator {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(var(--color-sf-primary), 0.05)), to(rgba(var(--color-sf-primary), 0.05))), rgba(var(--color-sf-surface));
  background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  -webkit-animation: e-chat-indicator-blink 1s infinite;
          animation: e-chat-indicator-blink 1s infinite;
}
.e-chat-ui .e-user-text {
  color: rgba(var(--color-sf-on-secondary-container));
}
@-webkit-keyframes e-chat-indicator-blink {
  50% {
    background: rgba(var(--color-sf-primary));
    height: 0.2rem;
  }
}
@keyframes e-chat-indicator-blink {
  50% {
    background: rgba(var(--color-sf-primary));
    height: 0.2rem;
  }
}
.e-chat-ui .e-chat-header .e-toolbar-item.e-overlay {
  background: unset;
}
.e-chat-ui .e-chat-header .e-toolbar-item .e-tbar-btn:focus {
  -webkit-box-shadow: 0 0 0 1px rgb(255, 255, 255);
          box-shadow: 0 0 0 1px rgb(255, 255, 255);
}
.e-chat-ui .e-chat-header .e-toolbar-item .e-tbar-btn .e-tbar-btn-text:not(:active),
.e-chat-ui .e-chat-header .e-toolbar-item .e-tbar-btn .e-btn-icon:not(:active) {
  color: rgb(255, 255, 255);
}
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn,
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn.e-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn:focus, .e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn:active, .e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn:hover,
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn.e-btn:focus,
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn.e-btn:active,
.e-chat-ui .e-chat-header .e-toolbar-item .e-dropdown-btn.e-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.e-bigger.e-chat-ui .e-chat-content,
.e-bigger .e-chat-ui .e-chat-content {
  height: calc(100% - 58px);
}
.e-bigger.e-chat-ui .e-chat-header,
.e-bigger .e-chat-ui .e-chat-header {
  height: 58px;
}
.e-bigger.e-chat-ui .e-chat-send,
.e-bigger .e-chat-ui .e-chat-send {
  font-size: 20px;
  bottom: 11px;
}
.e-bigger.e-chat-ui .e-message-header,
.e-bigger .e-chat-ui .e-message-header {
  font-size: 14px;
}
.e-bigger.e-chat-ui .e-message-icon,
.e-bigger .e-chat-ui .e-message-icon {
  height: 40px;
  width: 40px;
  font-size: 16px;
}
.e-bigger.e-chat-ui .e-user-icon,
.e-bigger .e-chat-ui .e-user-icon {
  height: 32px;
  width: 32px;
  font-size: 14px;
}
.e-bigger.e-chat-ui .e-left:not(.e-message-item-template),
.e-bigger .e-chat-ui .e-left:not(.e-message-item-template) {
  padding-left: 52px;
}
.e-bigger.e-chat-ui .e-message-icon,
.e-bigger .e-chat-ui .e-message-icon {
  top: 25px;
}
.e-bigger.e-chat-ui .e-user-text,
.e-bigger .e-chat-ui .e-user-text {
  margin-left: 22px;
  font-size: 16px;
}
.e-bigger.e-chat-ui .e-user-icon,
.e-bigger .e-chat-ui .e-user-icon {
  margin-right: -18px;
}
.e-bigger.e-chat-ui .e-text,
.e-bigger .e-chat-ui .e-text {
  font-size: 16px;
  padding: 10px 12px;
}
.e-bigger.e-chat-ui .e-time,
.e-bigger .e-chat-ui .e-time {
  font-size: 12px;
}
.e-bigger.e-chat-ui .e-status-text,
.e-bigger .e-chat-ui .e-status-text {
  font-size: 16px;
}
.e-bigger.e-chat-ui .e-status-icon,
.e-bigger .e-chat-ui .e-status-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
}
.e-bigger.e-chat-ui .e-footer .e-clear-icon:not(.e-clear-icon-hide),
.e-bigger .e-chat-ui .e-footer .e-clear-icon:not(.e-clear-icon-hide) {
  padding-bottom: 10px;
}
.e-bigger.e-chat-ui .e-footer .e-input-group.e-control-wrapper.e-multi-line-input .e-textarea,
.e-bigger .e-chat-ui .e-footer .e-input-group.e-control-wrapper.e-multi-line-input .e-textarea {
  min-height: 38px;
  padding: 10px 12px 0 16px;
  min-height: 28px;
}
.e-bigger.e-chat-ui .e-footer .e-input-group.e-control-wrapper.e-multi-line-input.e-rtl .e-textarea,
.e-bigger .e-chat-ui .e-footer .e-input-group.e-control-wrapper.e-multi-line-input.e-rtl .e-textarea {
  padding: 10px 16px 0 12px;
}
.e-bigger.e-chat-ui .e-timestamp,
.e-bigger .e-chat-ui .e-timestamp {
  font-size: 14px;
  padding: 6px 10px;
}
.e-bigger.e-chat-ui .e-suggestions li,
.e-bigger .e-chat-ui .e-suggestions li {
  font-size: 14px;
  padding: 6px 10px;
  line-height: 20px;
}
.e-bigger.e-chat-ui.e-rtl .e-left:not(.e-message-item-template),
.e-bigger .e-chat-ui.e-rtl .e-left:not(.e-message-item-template) {
  padding-right: 52px;
  padding-left: unset;
}
.e-bigger.e-chat-ui.e-rtl .e-user-text,
.e-bigger .e-chat-ui.e-rtl .e-user-text {
  margin-right: 22px;
  margin-left: unset;
}
.e-bigger.e-chat-ui.e-rtl .e-user-icon,
.e-bigger .e-chat-ui.e-rtl .e-user-icon {
  margin-left: -18px;
  margin-right: unset;
}