.e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 16px 0 0;
}

.e-small .e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 12px 0 0;
}

.e-ddl.e-control-wrapper .e-ddl-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-ddl.e-control-wrapper.e-icon-anim .e-ddl-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-dropdownbase .e-list-item.e-active.e-hover {
  color: #e3165b;
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:active,
.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:hover,
.e-input-group:not(.e-disabled) .e-back-icon:active,
.e-input-group:not(.e-disabled) .e-back-icon:hover,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:active,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:hover {
  background: transparent;
}

.e-input-group .e-ddl-icon:not(:active)::after {
  -webkit-animation: none;
          animation: none;
}

.e-ddl.e-popup {
  border: 0;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-top: 2px;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
}

.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon {
  margin: 6px 6px 5px;
  min-height: 12px;
  min-width: 12px;
  padding: 6px;
}

.e-input-group.e-ddl,
.e-input-group.e-ddl .e-input,
.e-input-group.e-ddl .e-ddl-icon {
  background: transparent;
}

.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group:hover:not(.e-disabled):not(.e-float-icon-left),
.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group.e-control-wrapper:hover:not(.e-disabled):not(.e-float-icon-left) {
  border-bottom-width: 0;
}

.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-small .e-clear-icon,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus.e-small .e-clear-icon,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus .e-clear-icon,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus .e-clear-icon {
  margin: 0;
}

.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small .e-input-filter,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-input-focus .e-input-filter,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-input-focus .e-input-filter,
.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small.e-input-focus .e-input-filter {
  padding: 5px 5px 5px 12px;
}

.e-ddl.e-popup.e-outline .e-filter-parent {
  padding: 4px 8px;
}

/* stylelint-disable property-no-vendor-prefix */
@-webkit-keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.e-input-group.e-control-wrapper .e-multicolumn-list-icon::before {
  content: "\e969";
  font-family: "e-icons";
}

.e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 20px !important;
  width: 20px !important;
  -webkit-transform-origin: 10px 10px 10px !important;
          transform-origin: 10px 10px 10px !important;
  /* stylelint-enable declaration-no-important */
}

.e-multicolumn-grid tr.e-groupcaptionrow {
  position: sticky;
  top: 0;
}
.e-multicolumn-grid tr.e-groupcaptionrow .e-groupcaption {
  font-weight: 600;
}

.e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
.e-multicolumn-grid th.e-grouptopleftcell.e-lastgroupleftcell,
.e-multicolumn-grid td.e-recordplusexpand,
.e-multicolumn-grid td.e-indentcell,
.e-multicolumn-grid col.e-group-intent,
.e-multicolumn-list .e-no-records + .e-grid {
  display: none;
}

.e-multicolumn-grid td.e-rowcell {
  cursor: default;
}

.e-multicolumn-grid .e-gridheader .e-headercelldiv {
  overflow: hidden;
}

.e-multicolumn-list .e-popup-footer {
  vertical-align: middle;
  border-style: solid;
  border-width: 0 1px 0 1px;
  font-size: 14px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 0 0;
}

.e-multicolumn-list .e-multicolumn-list-hidden {
  border: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.e-multicolumn-grid.e-grid {
  border-width: 1px;
  border-radius: 0;
}
.e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0 0 0 0;
}

.e-input-group.e-multicolumn-list input[readonly].e-input {
  pointer-events: none;
}

.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid {
  border-radius: 0 0 0 0;
}
.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0;
}
.e-multicolumn-list.e-icon-anim .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.e-multicolumn-list:not(.e-icon-anim) .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.e-multicolumn-list .e-multicolumn-list-icon::before {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-multicolumn-grid .e-grid {
  overflow: auto;
}

.e-multicolumn-grid .e-row,
.e-multicolumn-grid .e-emptyrow {
  height: 36px;
}

.e-multicolumn-group .e-sortnumber {
  display: none;
}

.e-popup.e-multicolumn-list {
  position: absolute;
  border-radius: 0;
  margin-top: 1px;
}
.e-popup.e-multicolumn-list .e-nodata {
  cursor: default;
  font-family: inherit;
  font-size: 14px;
  padding: 14px 16px;
  text-align: center;
  border-radius: inherit;
}
.e-popup.e-multicolumn-list .e-headertext {
  font-weight: 500;
}
.e-popup.e-multicolumn-list .e-gridheader {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 0 0 0 0;
}

.e-multicolumn-grid .e-headercontent {
  border-right-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid.e-rtl .e-headercontent {
  border-left-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid .e-content {
  overflow: auto !important; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-container .e-input-group-icon.e-multicolumn-list-icon.e-ddl-disable-icon,
.e-multicolumn-list.e-input-group .e-input-group-icon {
  position: relative;
}

.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 12px;
}
.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small.e-popup .e-multicolumn-grid .e-row,
.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-row,
.e-small .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 36px;
}
.e-small.e-popup.e-multicolumn-list,
.e-small .e-popup.e-multicolumn-list {
  margin-top: 1px;
}

.e-multicolumn-list .e-popup-footer {
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
  border-color: #e0e0e0;
}

.e-input-group.e-multicolumn-list:focus-visible {
  outline: transparent;
}

.e-popup.e-multicolumn-list {
  background: transparent;
  -webkit-box-shadow: 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.1), 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.1), 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);
}
.e-popup.e-multicolumn-list .e-nodata {
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid #fff;
  background: #fff;
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-rowcell {
  color: rgba(0, 0, 0, 0.87);
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-popup.e-multicolumn-list .e-gridhover .e-row:hover .e-rowcell:not(.e-active),
.e-popup.e-multicolumn-list .e-gridcontent .e-row-focus {
  background: #eee !important; /* stylelint-disable-line declaration-no-important */
}
.e-popup.e-multicolumn-list .e-multicolumn-grid td.e-active {
  background: #eee;
  color: #e3165b;
}
.e-popup.e-multicolumn-list .e-groupcaption {
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
}
.e-popup.e-multicolumn-list .e-gridheader,
.e-popup.e-multicolumn-list .e-gridheader colgroup {
  background: #f5f5f5;
}
.e-popup.e-multicolumn-list .e-altrow {
  background: #f5f5f5;
}
.e-popup.e-multicolumn-list .e-grid .e-headercell {
  background-color: unset;
}
.e-popup.e-multicolumn-list .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=ascending] .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=descending] .e-headertext {
  color: rgba(0, 0, 0, 0.54);
}