



/* stylelint-disable */
.e-btn.e-primary:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
}

.e-btn.e-success:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(23, 177, 105, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(23, 177, 105, 0.24) !important;
}

.e-btn.e-info:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--color-sf-brand-solid-shadow) !important;
}

.e-btn.e-warning:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(247, 143, 8, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(247, 143, 8, 0.24) !important;
}

.e-btn.e-danger:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(240, 68, 55, 0.24) !important;
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(240, 68, 55, 0.24) !important;
}

.e-btn.e-outline.e-info {
  background: transparent !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text) !important;
}

.e-btn.e-outline.e-info:hover {
  background: var(--color-sf-utility-info-bg-color-hover) !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text-hover) !important;
}

.e-btn.e-outline.e-info:active {
  background: var(--color-sf-utility-info-bg-color-pressed) !important;
  border-color: var(--color-sf-utility-info-border-color) !important;
  color: var(--color-sf-utility-info-text-hover) !important;
}

.e-btn.e-flat.e-info {
  color: var(--color-sf-utility-info-text) !important;
}

.e-bigger .e-btn,
.e-bigger .e-btn,
.e-bigger .e-css.e-btn,
.e-bigger.e-css.e-btn {
  font-size: 14px;
  line-height: 1.572em;
  padding: 8px 15px;
  border-radius: 8px !important;
  font-weight: 600;
}

.e-dropdown-popup {
  position: absolute;
  border-radius: 8px;
  margin-top: 4px;
}
.e-dropdown-popup ul {
  border: 1px solid var(--color-sf-border-secondary);
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
          box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  min-width: 120px;
  overflow: hidden;
  padding: 4px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}
.e-dropdown-popup ul .e-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  margin: 0 6px;
  border-radius: 6px;
}
.e-dropdown-popup ul .e-item.e-url {
  padding: 0;
}

.e-dropdownbase .e-list-item.e-active,
.e-dropdownbase .e-list-item.e-active.e-hover {
  font-weight: 500;
}

.e-dropdownbase .e-list-group-item,
.e-fixed-head {
  font-size: 12px;
  text-transform: uppercase;
}

.e-small .e-dropdownbase .e-list-group-item,
.e-small .e-fixed-head,
.e-small.e-dropdownbase .e-list-group-item,
.e-small.e-fixed-head {
  font-size: 10px;
}

.e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 8px 0 0;
}

.e-small .e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 4px 0 0;
}

/* stylelint-disable */
.e-dropdownbase .e-list-item {
  border-radius: 6px !important;
}

.e-ddl.e-control-wrapper .e-ddl-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-ddl.e-control-wrapper.e-icon-anim .e-ddl-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-dropdownbase .e-list-item.e-active.e-hover {
  color: var(--color-sf-text-primary);
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:active,
.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:hover,
.e-input-group:not(.e-disabled) .e-back-icon:active,
.e-input-group:not(.e-disabled) .e-back-icon:hover,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:active,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:hover {
  background: transparent;
}

.e-input-group .e-ddl-icon:not(:active)::after {
  -webkit-animation: none;
          animation: none;
}

.e-ddl.e-popup {
  border: 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
          box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
  margin-top: 4px;
}

.e-small .e-ddl.e-popup,
.e-small.e-ddl.e-popup {
  border-radius: 4px;
  margin-top: 2px;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
  padding: 4px 6px;
}

.e-input-group.e-ddl,
.e-input-group.e-ddl .e-input,
.e-input-group.e-ddl .e-ddl-icon {
  background: var(--color-sf-bg-primary);
}

.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group:hover:not(.e-disabled):not(.e-float-icon-left),
.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group.e-control-wrapper:hover:not(.e-disabled):not(.e-float-icon-left) {
  border-bottom-width: 0;
}

.e-ddl.e-popup.e-outline .e-filter-parent {
  padding: 4px 8px;
}

/* stylelint-disable */
.e-dialog.e-checkboxfilter,
.e-dialog.e-flmenu {
  min-width: 300px !important;
}

/* stylelint-disable property-no-vendor-prefix */
@-webkit-keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.e-input-group.e-control-wrapper .e-multicolumn-list-icon::before {
  content: "\e729";
  font-family: "e-icons";
}

.e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 20px !important;
  width: 20px !important;
  -webkit-transform-origin: 10px 10px 10px !important;
          transform-origin: 10px 10px 10px !important;
  /* stylelint-enable declaration-no-important */
}

.e-multicolumn-grid tr.e-groupcaptionrow {
  position: sticky;
  top: 0;
}
.e-multicolumn-grid tr.e-groupcaptionrow .e-groupcaption {
  font-weight: 600;
}

.e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
.e-multicolumn-grid th.e-grouptopleftcell.e-lastgroupleftcell,
.e-multicolumn-grid td.e-recordplusexpand,
.e-multicolumn-grid td.e-indentcell,
.e-multicolumn-grid col.e-group-intent,
.e-multicolumn-list .e-no-records + .e-grid {
  display: none;
}

.e-multicolumn-grid td.e-rowcell {
  cursor: default;
}

.e-multicolumn-grid .e-gridheader .e-headercelldiv {
  overflow: hidden;
}

.e-multicolumn-list .e-popup-footer {
  vertical-align: middle;
  border-style: solid;
  border-width: 0 0 0 0;
  font-size: 14px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 4px 4px;
}

.e-multicolumn-list .e-multicolumn-list-hidden {
  border: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.e-multicolumn-grid.e-grid {
  border-width: 0;
  border-radius: 4px;
}
.e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0 0 4px 4px;
}

.e-input-group.e-multicolumn-list input[readonly].e-input {
  pointer-events: none;
}

.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid {
  border-radius: 4px 4px 0 0;
}
.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0;
}
.e-multicolumn-list.e-icon-anim .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.e-multicolumn-list:not(.e-icon-anim) .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.e-multicolumn-list .e-multicolumn-list-icon::before {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-multicolumn-grid .e-grid {
  overflow: auto;
}

.e-multicolumn-grid .e-row,
.e-multicolumn-grid .e-emptyrow {
  height: 30px;
}

.e-multicolumn-group .e-sortnumber {
  display: none;
}

.e-popup.e-multicolumn-list {
  position: absolute;
  border-radius: 4px;
  margin-top: 2px;
}
.e-popup.e-multicolumn-list .e-nodata {
  cursor: default;
  font-family: inherit;
  font-size: 14px;
  padding: 14px 16px;
  text-align: center;
  border-radius: inherit;
}
.e-popup.e-multicolumn-list .e-headertext {
  font-weight: 500;
}
.e-popup.e-multicolumn-list .e-gridheader {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 4px 4px 0 0;
}

.e-multicolumn-grid .e-headercontent {
  border-right-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid.e-rtl .e-headercontent {
  border-left-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid .e-content {
  overflow: auto !important; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-container .e-input-group-icon.e-multicolumn-list-icon.e-ddl-disable-icon,
.e-multicolumn-list.e-input-group .e-input-group-icon {
  position: relative;
}

.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 12px;
}
.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small.e-popup .e-multicolumn-grid .e-row,
.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-row,
.e-small .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 24px;
}
.e-small.e-popup.e-multicolumn-list,
.e-small .e-popup.e-multicolumn-list {
  margin-top: 2px;
}

.e-multicolumn-list .e-popup-footer {
  background: var(--color-sf-bg-primary-alt);
  color: var(--color-sf-text-tertiary);
  border-color: var(--color-sf-border-secondary);
}

.e-input-group.e-multicolumn-list:focus-visible {
  outline: transparent;
}

.e-popup.e-multicolumn-list {
  background: transparent;
  -webkit-box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
          box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.05);
}
.e-popup.e-multicolumn-list .e-nodata {
  color: var(--color-sf-text-primary);
  border: 1px solid var(--color-sf-border-secondary);
  background: var(--color-sf-bg-primary-alt);
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-rowcell {
  color: var(--color-sf-text-primary);
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-popup.e-multicolumn-list .e-gridhover .e-row:hover .e-rowcell:not(.e-active),
.e-popup.e-multicolumn-list .e-gridcontent .e-row-focus {
  background: var(--color-sf-bg-secondary-hover) !important; /* stylelint-disable-line declaration-no-important */
}
.e-popup.e-multicolumn-list .e-multicolumn-grid td.e-active {
  background: var(--color-sf-utility-content-bg-color-selected);
  color: var(--color-sf-text-primary);
}
.e-popup.e-multicolumn-list .e-groupcaption {
  color: var(--color-sf-text-tertiary);
  background: var(--color-sf-bg-primary-alt);
}
.e-popup.e-multicolumn-list .e-gridheader,
.e-popup.e-multicolumn-list .e-gridheader colgroup {
  background: var(--color-sf-bg-primary-alt);
}
.e-popup.e-multicolumn-list .e-altrow {
  background: var(--color-sf-bg-primary-alt);
}
.e-popup.e-multicolumn-list .e-grid .e-headercell {
  background-color: unset;
}
.e-popup.e-multicolumn-list .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=ascending] .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=descending] .e-headertext {
  color: var(--color-sf-text-tertiary);
}

.e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 16px;
}
.e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-popup .e-multicolumn-grid .e-row,
.e-bigger .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 36px;
}
.e-bigger.e-popup.e-multicolumn-list,
.e-bigger .e-popup.e-multicolumn-list {
  margin-top: 2px;
}

.e-bigger.e-multicolumn-list .e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg,
.e-bigger .e-multicolumn-list .e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 26px !important;
  width: 26px !important;
  -webkit-transform-origin: 13px 13px 13px !important;
          transform-origin: 13px 13px 13px !important;
  /* stylelint-enable declaration-no-important */
}

.e-bigger.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-bigger.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-bigger.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-rowcell,
.e-bigger .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-bigger.e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 14px;
}
.e-bigger.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-row,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-row,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-emptyrow {
  height: 32px;
}
.e-bigger.e-small.e-popup.e-multicolumn-list,
.e-bigger.e-small .e-popup.e-multicolumn-list,
.e-bigger .e-small.e-popup.e-multicolumn-list,
.e-small .e-bigger.e-popup.e-multicolumn-list {
  margin-top: 2px;
}