.e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 10px 0 0;
}
.e-dropdownbase .e-list-item:not(.e-active).e-hover {
  border: 2px solid #fff;
}
.e-dropdownbase .e-list-item:not(.e-active):not(.e-hover):not(.e-item-focus) {
  border: 2px solid #000;
}
.e-dropdownbase .e-list-item.e-active {
  border: 2px solid #ffd939;
}
.e-dropdownbase .e-list-item.e-item-focus {
  border: 2px solid #685708;
}

.e-small .e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 8px 0 0;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
}

.e-ddl.e-popup {
  border: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  margin-top: 1px;
}
.e-ddl.e-popup .e-content.e-nodata {
  background-color: #000;
}
.e-ddl.e-popup .e-dropdownbase .e-list-item:not(.e-active) .e-highlight {
  color: #ffd939;
}
.e-ddl.e-popup .e-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.e-ddl.e-popup .e-input-group input {
  line-height: 15px;
}

.e-ddl.e-popup .e-input-group .e-clear-icon {
  border-radius: 20px;
  height: 20px;
  margin: 5px;
  min-width: 20px;
}
.e-ddl.e-popup .e-input-group .e-clear-icon::before {
  font-size: 10px;
}
.e-ddl.e-popup .e-filter-parent {
  border-left-width: 0;
  border-right-width: 0;
}
.e-ddl.e-popup .e-filter-parent .e-input-group.e-control-wrapper:hover:active {
  border-color: #fff;
}

/* stylelint-disable property-no-vendor-prefix */
@-webkit-keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.e-input-group.e-control-wrapper .e-multicolumn-list-icon::before {
  content: "\e966";
  font-family: "e-icons";
}

.e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 20px !important;
  width: 20px !important;
  -webkit-transform-origin: 10px 10px 10px !important;
          transform-origin: 10px 10px 10px !important;
  /* stylelint-enable declaration-no-important */
}

.e-multicolumn-grid tr.e-groupcaptionrow {
  position: sticky;
  top: 0;
}
.e-multicolumn-grid tr.e-groupcaptionrow .e-groupcaption {
  font-weight: 600;
}

.e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
.e-multicolumn-grid th.e-grouptopleftcell.e-lastgroupleftcell,
.e-multicolumn-grid td.e-recordplusexpand,
.e-multicolumn-grid td.e-indentcell,
.e-multicolumn-grid col.e-group-intent,
.e-multicolumn-list .e-no-records + .e-grid {
  display: none;
}

.e-multicolumn-grid td.e-rowcell {
  cursor: default;
}

.e-multicolumn-grid.e-rtl .e-gridheader .e-headercelldiv {
  margin: 0;
}

.e-multicolumn-grid .e-gridheader .e-headercelldiv {
  overflow: hidden;
}

.e-multicolumn-list .e-popup-footer {
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 0 0;
}

.e-multicolumn-list .e-multicolumn-list-hidden {
  border: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.e-multicolumn-grid.e-grid {
  border-width: 1px;
  border-radius: 0;
}
.e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0 0 0 0;
}

.e-input-group.e-multicolumn-list input[readonly].e-input {
  pointer-events: none;
}

.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid {
  border-radius: 0 0 0 0;
}
.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: 0;
}
.e-multicolumn-list.e-icon-anim .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.e-multicolumn-list:not(.e-icon-anim) .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.e-multicolumn-list .e-multicolumn-list-icon::before {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-multicolumn-grid .e-grid {
  overflow: auto;
}

.e-multicolumn-grid .e-row,
.e-multicolumn-grid .e-emptyrow {
  height: 36px;
}

.e-multicolumn-group .e-sortnumber {
  display: none;
}

.e-popup.e-multicolumn-list {
  position: absolute;
  border-radius: 0;
  margin-top: unset;
}
.e-popup.e-multicolumn-list .e-nodata {
  cursor: default;
  font-family: inherit;
  font-size: 14px;
  padding: 14px 16px;
  text-align: center;
  border-radius: inherit;
}
.e-popup.e-multicolumn-list .e-headertext {
  font-weight: 600;
}
.e-popup.e-multicolumn-list .e-gridheader {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 0 0 0 0;
}

.e-multicolumn-grid .e-headercontent {
  border-right-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid.e-rtl .e-headercontent {
  border-left-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid .e-content {
  overflow: auto !important; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-container .e-input-group-icon.e-multicolumn-list-icon.e-ddl-disable-icon,
.e-multicolumn-list.e-input-group .e-input-group-icon {
  position: relative;
}

.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 12px;
}
.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small.e-popup .e-multicolumn-grid .e-row,
.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-row,
.e-small .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 32px;
}
.e-small.e-popup.e-multicolumn-list,
.e-small .e-popup.e-multicolumn-list {
  margin-top: unset;
}

.e-multicolumn-list .e-popup-footer {
  background: #000;
  color: #ffd939;
  border-color: #969696;
}

.e-input-group.e-multicolumn-list:focus-visible {
  outline: transparent;
}

.e-popup.e-multicolumn-list {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-popup.e-multicolumn-list .e-nodata {
  color: #ffd939;
  border: 1px solid #969696;
  background: #000;
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-rowcell {
  color: #fff;
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-popup.e-multicolumn-list .e-gridhover .e-row:hover .e-rowcell:not(.e-active),
.e-popup.e-multicolumn-list .e-gridcontent .e-row-focus {
  background: #685708 !important; /* stylelint-disable-line declaration-no-important */
}
.e-popup.e-multicolumn-list .e-multicolumn-grid td.e-active {
  background: #ffd939;
  color: #000;
}
.e-popup.e-multicolumn-list .e-groupcaption {
  color: #ffd939;
  background: #000;
}
.e-popup.e-multicolumn-list .e-gridheader,
.e-popup.e-multicolumn-list .e-gridheader colgroup {
  background: transparent;
}
.e-popup.e-multicolumn-list .e-altrow {
  background: #1a1a1a;
}
.e-popup.e-multicolumn-list .e-grid .e-headercell {
  background-color: unset;
}
.e-popup.e-multicolumn-list .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=ascending] .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=descending] .e-headertext {
  color: #ffd939;
}

.e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 16px;
}
.e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-popup .e-multicolumn-grid .e-row,
.e-bigger .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 40px;
}
.e-bigger.e-popup.e-multicolumn-list,
.e-bigger .e-popup.e-multicolumn-list {
  margin-top: unset;
}

.e-bigger.e-multicolumn-list .e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg,
.e-bigger .e-multicolumn-list .e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 26px !important;
  width: 26px !important;
  -webkit-transform-origin: 13px 13px 13px !important;
          transform-origin: 13px 13px 13px !important;
  /* stylelint-enable declaration-no-important */
}

.e-bigger.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-bigger.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-bigger.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-rowcell,
.e-bigger .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-bigger.e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 14px;
}
.e-bigger.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-row,
.e-bigger.e-small .e-popup .e-multicolumn-grid .e-emptyrow,
.e-bigger .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-row,
.e-bigger .e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-bigger.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-row,
.e-small .e-bigger.e-popup .e-multicolumn-grid .e-emptyrow {
  height: 38px;
}
.e-bigger.e-small.e-popup.e-multicolumn-list,
.e-bigger.e-small .e-popup.e-multicolumn-list,
.e-bigger .e-small.e-popup.e-multicolumn-list,
.e-small .e-bigger.e-popup.e-multicolumn-list {
  margin-top: unset;
}